body {
  margin: 0;
}

main {
  filter: blur(0.5px);
  background: radial-gradient(circle at 50% 15%, rgba(230, 100, 101, 0.15), rgba(145, 152, 229, 0.25));
  background-color: aliceblue;
  padding: 3rem;
}

main button {
  font-size: 1.5rem;
  padding: .25rem;
}

main p {
  font-size: 2rem;
}

main #logo {
  font-size: 4rem;
}

main #help {
  font-size: 2rem;
  opacity: 0;
}